@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.womenlaying{
  /* import backgorund overlay from local and width 25% */
  background-image: url("../public/images/rectangle-2.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: bottom left ;
}
.servicesoverlay{
  /* import backgorund overlay from local and width 25% */
  background-image: url("../public/images/rectangle-2.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top right ;
  display: block;
}
.specialistoverlay{
  /* import backgorund overlay from local and width 25% */
  background-image: url("../public/images/rectangle-2.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top left ;
  margin-top: -5rem;
  
}

 

  @media only screen and (max-width: 767px) {
    .specialistoverlay{
      margin-top: 0rem;
    }
  }

.promobg{
  /* import backgorund overlay from local and width 25% */
  background-image: url("../public/images/bgspa-woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  width: 100%;
  height: 100%;
 /* add a balck ovelay in iamges */


}
/* styles/globals.css */
/* ... existing imports ... */

@keyframes slowFill {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress);
  }
}

.slow-fill-animation {
  animation: slowFill 3s ease-in-out forwards; /* Adjust the duration as needed */
}



.menu-icon {
  display: none;
  position: absolute;
  right: 4%;
  font-size: 2rem;
  color: black;

}

.nav-menu {
  display: flex;
  justify-content: space-between;
 

}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  
}

@media (max-width: 768px) {
  .menu-icon {
      display: block;
  }

  .nav-menu {
      display: none;
      flex-direction: column;
  }

  .nav-menu.showMenu {
      display: flex;
      position: absolute;
      top: 10%;
      z-index: 10;
      background-color:#ECF0F2;
      padding: 10px;
      width: 100%;
      padding: 20px;
      animation: slideDown 1.5s ease-in-out;
     
  }
}

@keyframes slideDown {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateY(0);
  }
}


/* how to add a exit animation on slideDown  */

